# Dependencies
node_modules/
package-lock.json

# Build outputs
www/

# Android build outputs & IDE
android/.gradle/
android/app/build/
android/build/
android/captures/
android/.idea/
android/*.iml
android/app/*.iml
local.properties

# OS files
.DS_Store
Thumbs.db
